* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
section {
  padding: 2rem 9%;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.925);
  color: #fff;
  padding: 2rem 9%;
}
header .logo h2 {
  font-size: 2.8rem;
}
header nav a {
  margin: 0rem 1rem;
  color: #fff;
  font-size: 1.7rem;
  position: relative;
}
header nav a:hover {
  color: red;
}

header .menu{
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.bg-image{
  width: 100%;
  height: 100vh;
}
.bg-image img{
  width: 100%;
  height: 100vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
}
.bg-image .content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: #fff;
}
.bg-image .content .sub-content{
  text-align: center;
}

.bg-image .content .sub-content h2{
  font-size: 4rem;
  margin: 2rem 0rem;
}
.bg-image .content .sub-content p{
  /* font-size: 1.7rem;
  margin: 2rem auto;
  max-width: 800px; */
}




























@media screen and (max-width:1200px) {
    html{
      font-size: 55%;
    }
}

@media screen and (max-width:991px) {
    header{
      padding: 2rem;
    }
}
@media screen and (max-width:768px) {
header .menu{
  display: initial;
}

  header nav{
    position: absolute;
    top: 100%;
    right: 0;
    left:  0;
    color: red;
    background-color: rgba(0, 0, 0, 0.925);
  border-top: .1rem solid rgba(0, 0, 0, 0.925);
  display: none;
  }
  header nav a{
    display: block;
    background-color: rgba(0, 0, 0, 0.925);
    margin: 2rem 2rem;
    padding: 1.3rem 2rem;
  }
  header nav.active{
    display: initial;
  }

}

@media screen and (max-width:450px) {
  html{
    font-size: 50%;
  }
}